blinky-lite-dma/flows.json
[
    {
        "id": "a7b9d689.b8a5e8",
        "type": "tab",
        "label": "Flow1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "373e7d51.903ea2",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "4096",
        "bin": "bin",
        "out": "count",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "9feed7f8.962788",
        "type": "websocket-listener",
        "z": "",
        "path": "/websocket",
        "wholemsg": "true"
    },
    {
        "id": "c49f6f59.b6e67",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "bd134c3e.5c2e1",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "c49f6f59.b6e67",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65e743b1.3be17c",
        "type": "serial in",
        "z": "a7b9d689.b8a5e8",
        "name": "Teensy",
        "serial": "373e7d51.903ea2",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "2af394dd.443cdc",
                "9c4cbe2.b12974"
            ]
        ]
    },
    {
        "id": "4701c7b6.e07908",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "FFT",
        "func": "var digAvg = 312.5; \nvar deltaDig = 287.5;\nvar npts = msg.payload.real.length;\nfor (ii = 0; ii < npts; ++ii)\n{\n    msg.payload.real[ii] = (msg.payload.real[ii] - digAvg) / deltaDig;\n    msg.payload.imag[ii] = (msg.payload.imag[ii] - digAvg) / deltaDig;\n}\n\ntransformRadix2(msg.payload.real,msg.payload.imag);\nfor (ii = 0; ii < npts; ++ii)\n{\n    msg.payload.real[ii] = msg.payload.real[ii] / npts;\n    msg.payload.imag[ii] = msg.payload.imag[ii] / npts;\n}\nreturn {'topic':'fft', 'payload':msg.payload};\n/* https://www.nayuki.io/res/free-small-fft-in-multiple-languages/fft.js\n * Computes the discrete Fourier transform (DFT) of the given complex vector, storing the result back into the vector.\n * The vector's length must be a power of 2. Uses the Cooley-Tukey decimation-in-time radix-2 algorithm.\n */\nfunction transformRadix2(real, imag) {\n\t// Length variables\n\tvar n = real.length;\n\tif (n != imag.length)\n\t\tthrow \"Mismatched lengths\";\n\tif (n == 1)  // Trivial transform\n\t\treturn;\n\tvar levels = -1;\n\tfor (var i = 0; i < 32; i++) {\n\t\tif (1 << i == n)\n\t\t\tlevels = i;  // Equal to log2(n)\n\t}\n\tif (levels == -1)\n\t\tthrow \"Length is not a power of 2\";\n\t\n\t// Trigonometric tables\n\tvar cosTable = new Array(n / 2);\n\tvar sinTable = new Array(n / 2);\n\tfor (var i = 0; i < n / 2; i++) {\n\t\tcosTable[i] = Math.cos(2 * Math.PI * i / n);\n\t\tsinTable[i] = Math.sin(2 * Math.PI * i / n);\n\t}\n\t\n\t// Bit-reversed addressing permutation\n\tfor (var i = 0; i < n; i++) {\n\t\tvar j = reverseBits(i, levels);\n\t\tif (j > i) {\n\t\t\tvar temp = real[i];\n\t\t\treal[i] = real[j];\n\t\t\treal[j] = temp;\n\t\t\ttemp = imag[i];\n\t\t\timag[i] = imag[j];\n\t\t\timag[j] = temp;\n\t\t}\n\t}\n\t\n\t// Cooley-Tukey decimation-in-time radix-2 FFT\n\tfor (var size = 2; size <= n; size *= 2) {\n\t\tvar halfsize = size / 2;\n\t\tvar tablestep = n / size;\n\t\tfor (var i = 0; i < n; i += size) {\n\t\t\tfor (var j = i, k = 0; j < i + halfsize; j++, k += tablestep) {\n\t\t\t\tvar l = j + halfsize;\n\t\t\t\tvar tpre =  real[l] * cosTable[k] + imag[l] * sinTable[k];\n\t\t\t\tvar tpim = -real[l] * sinTable[k] + imag[l] * cosTable[k];\n\t\t\t\treal[l] = real[j] - tpre;\n\t\t\t\timag[l] = imag[j] - tpim;\n\t\t\t\treal[j] += tpre;\n\t\t\t\timag[j] += tpim;\n\t\t\t}\n\t\t}\n\t}\n\t\n\t// Returns the integer whose value is the reverse of the lowest 'bits' bits of the integer 'x'.\n\tfunction reverseBits(x, bits) {\n\t\tvar y = 0;\n\t\tfor (var i = 0; i < bits; i++) {\n\t\t\ty = (y << 1) | (x & 1);\n\t\t\tx >>>= 1;\n\t\t}\n\t\treturn y;\n\t}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "e51a09aa.2b7ae8"
            ]
        ]
    },
    {
        "id": "a1d149c8.df9b88",
        "type": "http in",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "f408ee76.4597e"
            ]
        ]
    },
    {
        "id": "bb0d6c04.0770f",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <link rel=\"icon\" href=\"/img/favicon.ico?v=3\" type=\"image/x-icon\">\n    <title>Chill Detector</title>\n    <link rel=\"stylesheet\" href=\"/css/bootstrap.css\">\n    <link rel=\"stylesheet\" href=\"/css/fontAwesome.css\">\n    <script src=\"/scripts/jquery.js\"></script>\n    <script src=\"/scripts/socketio.js\"></script>\n    <script type=\"text/javascript\" src=\"/scripts/visDist/vis.js\"></script>\n    <style>{{{payload.style}}}</style>\n    <script>{{{payload.script}}}</script>\n  </head>\n  <body>\n    {{{payload.navbar}}}\n    <div class=\"container spectrogram\" id=\"spectrogram\"></div>\n    {{{payload.infobar}}}\n    <script src=\"/scripts/popper.js\"></script>\n    <script src=\"/scripts/bootstrap.js\"></script>\n  </body>\n</html>",
        "output": "str",
        "x": 810,
        "y": 760,
        "wires": [
            [
                "6b7d5262.946b9c"
            ]
        ]
    },
    {
        "id": "6b7d5262.946b9c",
        "type": "http response",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 760,
        "wires": []
    },
    {
        "id": "f408ee76.4597e",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": ":root {\n  --container-background-color: #d99114;\n  --container-title-color: #016a71;\n  --container-text-color: #ffffff;\n  --background-color: #9e988e;\n  --sub-container-background-color: #c6c2bb;\n  --sub-container-title-color: #016a71;\n  --sub-container-text-color: #000000;\n}\nbody {\n  background-color: var(--background-color);\n  padding-left:25px;\n  padding-right:25px;\n}\n.linktext {\n  color: var(--container-title-color);\n  text-decoration: underline;\n}\n.linkicon {\n  padding: 20px;\n  color: var(--container-background-color);\n}\n\nimg {\n  object-fit: contain;\n}\n.col {\n  padding-bottom: 20px;\n}\n.jumbotron {\n  background-color: var(--container-background-color) !important;\n  color:var(--container-text-color);\n}\n.banner\n{\n  background-color: var(--container-background-color) !important;\n  color:var(--container-text-color);\n}\n.jumbotron-title\n{\n  color:var(--container-title-color);\n}\n.jumbotron-button\n{\n  color: var(--background-color);\n  background-color: var(--container-title-color);\n  font-weight: 900;\n}\n.featurette-heading\n{\n  color:var(--container-text-color);\n}\n.card\n{\n  background-color: var(--container-background-color);\n  text-align: center;\n  padding: 10px;\n}\n.card-body\n{\n  color: var(--sub-container-text-color);\n  background-color: var(--sub-container-background-color);\n}\n.card-button\n{\n  color: var(--container-title-color);\n  font-weight: bold;\n  background-color: var(--container-background-color);\n}\n.card-title\n{\n  color: var(--container-title-color);\n  font-weight: bold;\n}\n.card-major-bullet\n{\n  text-align: left;\n}\n.card1-minor-bullet\n{\n  text-align: left;\n}\n.card-minor-minor-bullet {\n\tfont-size: : small;\n  font-style:italic;\n}\n\n.card-text\n{\n  text-align: left;\n}\n.scrolling-wrapper {\n  width: 100%;left\n  display: inline-block;\n  overflow-x: scroll;\n  overflow-y: hidden;\n  white-space: nowrap;\n}\n.footer {\n/*   position: fixed; */\n   left: 0;\n   bottom: 0;\n   width: 100%;\n   color:var(--container-background-color);\n   background-color: var(--background-color);\n   text-align: center;\n}\n.img-max {\n  width: 99%;\n}\n.bot-pad\n{\n  padding-bottom: 20px;\n}\n.span-left-justify\n{\n  float:left;\n}\n.right-justify\n{\n  text-align: right;\n}\n.center-justify\n{\n  text-align: center;\n}\n.date\n{\n  color: var(--container-title-color);\n  font-weight: bold;\n}\n.spectrogram\n{\n  border-style:solid;\n  border-color: var(--container-title-color);\n}",
        "output": "str",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "e2bc60bf.5c5a8"
            ]
        ]
    },
    {
        "id": "e2bc60bf.5c5a8",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "var socket;\nvar graph3d = null;\nvar itimeSlice = 0;\nvar modeMax = 512;\nvar imodeConvFact = 500 / modeMax;\nvar timeMax = 20;\nvar oodataArray = [];\nvar timeStamp = [];\nvar deltaT = 0;\nvar freeze = false;\nvar audioAlarm = new Audio('/audio/alarm.ogg');\nvar alarmOn = false;\nvar alarmThreshold = 5.0;\nvar mostExcitedMode = 0;\nvar mostExcitedModeAmp = 0;\nvar dcLevel = 0;\n\nvar wsUriC = \"ws://blinky-lite-16.local:1880/websocket\";\nvar ws;\nvar retries = 0;\n\nvar threedPlotOptions = \n{\n    width:  '100%',\n    height: '600px',\n    style: 'surface',\n    showPerspective: false,\n    showGrid: true,\n    showShadow: false,\n    keepAspectRatio: false,\n    verticalRatio: 1.0,\n    showZAxis: true,\n    yCenter: '45%',\n    xLabel: 'Hz',\n    yLabel: 'Time (sec)',\n    zLabel: 'Amplitude',\n    tooltip: true,\n    axisColor: '#ffffff', \n    zMin:1,\n    zMax:11\n};\n\nfunction wsConnectC() \n{\n    console.log(\"connect\",wsUriC);\n    ws = new WebSocket(wsUriC);\n    ws.onmessage = function(msg) \n    {\n        var msgData = JSON.parse(msg.data);\n    } ;\n    ws.onopen = function() \n    {   \n        console.log(\"Websocket connected\");\n        ws.send('Socket Connection from index page established.');\n        ws.onmessage = function (event) \n        {\n            msg = JSON.parse(event.data);\n//            console.log(event.data);\n            if (msg.topic == 'fftData' && !freeze) addOoDataArrays(msg.payload);\n            \n        };\n    };\n    ws.onclose = function() \n    {\n//        setTimeout(wsConnectC,1000);\n//        retryOpeningWebSocket();\n    };\n}\nfunction retryOpeningWebSocket()\n{\n    if (retries < 2) \n    {            \n        setTimeout(openWebSocket, 1000);            \n        retries++;\n    }\n}\n\n$( document ).ready(function()\n{\n  $(\"#freezeButton\").text('Running');\n  $(\"#alarmButton\").text('Alarm OFF');\n  $(\"#alarmThreshold\").val(alarmThreshold.toString());\n  $(\"#minplot\").val(threedPlotOptions.zMin.toString());\n  $(\"#maxplot\").val(threedPlotOptions.zMax.toString());\n  drawSpectrogram();\n  \n  wsConnectC();\n  $(\"#alarmThreshold\").change(function(){alarmThreshold = Number($(\"#alarmThreshold\").val());});\n  $(\"#minplot\").change(function()\n  {\n      threedPlotOptions.zMin = Number($(\"#minplot\").val());\n      graph3d.setOptions(threedPlotOptions);\n  });\n  $(\"#maxplot\").change(function()\n  {\n      threedPlotOptions.zMax = Number($(\"#maxplot\").val());\n      graph3d.setOptions(threedPlotOptions);\n  });\n  \n});\n\nfunction initializeDataArray()\n{\n  for (var imode = 0; imode < modeMax; ++imode)\n  {\n    var value = 0.0;\n    oodataArray[imode] =\n    {\n      'x': (imode - modeMax / 2) * imodeConvFact,\n      'y': 0,\n      'z': value,\n      'style': value\n    };\n  }\n}\n\nfunction drawSpectrogram()\n{\n  var container = document.getElementById('spectrogram');\n  initializeDataArray();\n\n  graph3d = new vis.Graph3d(container, oodataArray, threedPlotOptions);\n  var horzAngle = 315.0 * 3.1415927 / 180.0;\n  var vertAngle = 45.0 * 3.1415927 / 180.0;\n  graph3d.setCameraPosition({'horizontal': horzAngle, 'vertical': vertAngle, 'distance': 2.0});\n  $(\"#startTime\").text(new Date().toLocaleString());\n  $(\"#stopTime\").text(new Date().toLocaleString());\n}\n\nfunction addOoDataArrays(ooDataArrays)\n{\n  dcLevel = ooDataArrays.modeM[modeMax / 2];\n\n  ooDataArrays.modeM[modeMax / 2] = threedPlotOptions.zMin;\n  ooDataArrays.modeM[modeMax / 2 - 1] = threedPlotOptions.zMin;\n  for (var iz = 1; iz < 5; ++iz)\n  {\n      ooDataArrays.modeM[modeMax / 2 + iz] = threedPlotOptions.zMin;\n      ooDataArrays.modeM[modeMax / 2 - (iz + 1)] = threedPlotOptions.zMin;\n  }\n\n  mostExcitedModeAmp = 0;\n  mostExcitedMode = 0;\n  for (var imode = 0; imode < modeMax; ++imode)\n  {\n      if (ooDataArrays.modeM[imode] < threedPlotOptions.zMin) ooDataArrays.modeM[imode] = threedPlotOptions.zMin;\n      if (mostExcitedModeAmp < ooDataArrays.modeM[imode])\n      {\n         mostExcitedModeAmp = ooDataArrays.modeM[imode];\n         mostExcitedMode = (imode - modeMax / 2) * imodeConvFact;\n      }\n  }\n  $(\"#maxMode\").text(Math.round(100 * mostExcitedMode) / 100);\n  $(\"#maxModeAmplitude\").text(Math.round(100 * mostExcitedModeAmp) / 100);\n  $(\"#dcLevel\").text(Math.round(100 * dcLevel) / 100);  \n  if (alarmOn)\n  {\n    if (mostExcitedModeAmp > alarmThreshold)\n    {\n      audioAlarm.play();\n      $(\"#spectrogram\").css('background','#ff0000');\n    }\n    else\n    {\n      $(\"#spectrogram\").css('background','#9e988e');\n    }\n  }\n\n  if (itimeSlice < timeMax)\n  {\n    timeStamp[itimeSlice] = new Date().getTime();\n    deltaT = (timeStamp[itimeSlice] - timeStamp[0]) / 1000;\n    for (var imode = 0; imode < modeMax; ++imode)\n    {\n      var value = Math.round(100.0 * Number(ooDataArrays.modeM[imode])) / 100.0;\n      oodataArray[itimeSlice * modeMax + imode] =\n      {\n        'x': (imode - modeMax / 2) * imodeConvFact,\n        'y': deltaT,\n        'z': value,\n        'style': value\n      };\n    }\n    ++itimeSlice;\n  }\n  else\n  {\n    for (var itime = 0; itime < (timeMax - 1); ++itime)\n    {\n      timeStamp[itime] = timeStamp[itime + 1];\n      deltaT = (timeStamp[itime] - timeStamp[0]) / 1000;\n      for (var imode = 0; imode < modeMax; ++imode)\n      {\n        oodataArray[itime * modeMax + imode] =\n        {\n          'x': oodataArray[(itime + 1) * modeMax + imode].x,\n          'y': deltaT,\n          'z': oodataArray[(itime + 1) * modeMax + imode].z,\n          'style': oodataArray[(itime + 1) * modeMax + imode].style\n        };\n      }\n    }\n    timeStamp[timeMax - 1] = new Date().getTime();\n    deltaT = (timeStamp[timeMax - 1] - timeStamp[0]) / 1000;\n    for (var imode = 0; imode < modeMax; ++imode)\n    {\n      var value = Math.round(100.0 * Number(ooDataArrays.modeM[imode])) / 100.0;\n      oodataArray[(timeMax - 1) * modeMax + imode] =\n      {\n        'x': (imode - modeMax / 2) * imodeConvFact,\n        'y': deltaT,\n        'z': value,\n        'style': value\n      };\n    }\n  }\n  $(\"#startTime\").text(new Date(timeStamp[0]).toLocaleString());\n  $(\"#stopTime\").text(new Date(timeStamp[itimeSlice - 1]).toLocaleString());\n  graph3d.setData(oodataArray);\n}\nfunction freezeRun()\n{\n  freeze = !freeze;\n  if (freeze)\n  {\n    $(\"#freezeButton\").text('Frozen');\n  }\n  else\n  {\n    $(\"#freezeButton\").text('Running');\n  }\n\n}\nfunction toggleAlarm()\n{\n  alarmOn = !alarmOn;\n  if (alarmOn)\n  {\n    $(\"#alarmButton\").text('Alarm ON');\n  }\n  else\n  {\n    $(\"#alarmButton\").text('Alarm OFF');\n    $(\"#spectrogram\").css('background','#9e988e');\n  }\n\n}",
        "output": "str",
        "x": 390,
        "y": 760,
        "wires": [
            [
                "d1b3cdc7.d6f86"
            ]
        ]
    },
    {
        "id": "d1b3cdc7.d6f86",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "NavBar",
        "field": "payload.navbar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div class=\"alert alert-success banner\" width=\"100%\">\n  <div class=\"row\">\n    <div class=\"col-md-2\"><img src=\"/img/TQG_text_logo.png\" height=\"50px\"/></div>\n    <div class=\"col-md-8\" style=\"text-align: center\">\n      <h1 class=\"display-5 jumbotron-title\">Chill Detector</h1>\n    </div>\n    <div class=\"col-md-2\" style=\"text-align: right\"><img src=\"/img/BlinkyLogo-Text.png\" height=\"50px\"/></div>\n  </div>\n</div>\n",
        "output": "str",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "8d69cd3e.1e335"
            ]
        ]
    },
    {
        "id": "8d69cd3e.1e335",
        "type": "template",
        "z": "a7b9d689.b8a5e8",
        "name": "Info Bar",
        "field": "payload.infobar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div width=\"100%\">\n    <div class=\"row\"> \n        <div class=\"col-md-2\">\n            <button class=\"btn jumbotron-button\" id=\"freezeButton\" type=\"button\" onclick=\"freezeRun()\"></button>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">MaxPlot</span>\n        </div>\n        <div class=\"col-md-2\">\n            <input class=\"form-control center-justify\" id=\"maxplot\" type=\"text\" value=\"0\"/>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">MaxFreq </span>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\" id=\"maxMode\"></span>\n        </div>\n    </div>\n    <div class=\"row\"> \n        <div class=\"col-md-2\"></div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">MinPlot</span>\n        </div>\n        <div class=\"col-md-2\">\n            <input class=\"form-control center-justify\" id=\"minplot\" type=\"text\" value=\"0\"/>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">Amplitude </span>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\" id=\"maxModeAmplitude\"></span>\n        </div>\n    </div>\n    <div class=\"row\"> \n        <div class=\"col-md-2\"></div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">PlotSlices</span>\n        </div>\n        <div class=\"col-md-2\">\n            <input class=\"form-control center-justify\" id=\"plotslices\" type=\"text\" value=\"0\"/>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\">DCLevel</span>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\" id=\"dcLevel\"></span>\n        </div>\n    </div>\n    <div class=\"row\"> \n        <div class=\"col-md-2\">\n            <button class=\"btn jumbotron-button\" id=\"alarmButton\" type=\"button\" onclick=\"toggleAlarm()\"></button>\n        </div>\n        \n        <div class=\"col-md-2\">\n            <span class=\"date\">AlarmLevel</span>\n        </div>\n        <div class=\"col-md-2\">\n            <input class=\"form-control center-justify\" id=\"alarmThreshold\" type=\"text\" value=\"0\"/>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\"></span>\n        </div>\n        <div class=\"col-md-2\">\n            <span class=\"date\"></span>\n        </div>\n    </div>\n</div>\n",
        "output": "str",
        "x": 680,
        "y": 760,
        "wires": [
            [
                "bb0d6c04.0770f"
            ]
        ]
    },
    {
        "id": "ebe54e71.d9f81",
        "type": "websocket out",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "server": "9feed7f8.962788",
        "client": "",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "8bf276a.f678288",
        "type": "serial out",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "serial": "373e7d51.903ea2",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3a916f6.e99d88",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "8bf276a.f678288",
                "39db2d21.3c6d92"
            ]
        ]
    },
    {
        "id": "2af394dd.443cdc",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Send 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "8bf276a.f678288"
            ]
        ]
    },
    {
        "id": "9c4cbe2.b12974",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Convert Bytes to Float",
        "func": "var npts = msg.payload.length / 8;\nvar buf = new ArrayBuffer(4);\nvar view = new DataView(buf);\nvar real = [];\nvar imag = [];\nfor (var ipt = 0; ipt < npts; ++ipt)\n{\n    for (ib = 0; ib < 4; ++ib) view.setUint8(ib, msg.payload[ipt * 4 + 3 - ib]);\n    real[ipt] = view.getFloat32(0);\n    for (ib = 0; ib < 4; ++ib) view.setUint8(ib, msg.payload[(ipt + npts) * 4 + 3 - ib]);\n    imag[ipt] = view.getFloat32(0);\n}\nreturn {'topic':'timeData', 'payload':{'real':real,'imag':imag}};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "4701c7b6.e07908",
                "c52ddcf3.2bc24"
            ]
        ]
    },
    {
        "id": "e51a09aa.2b7ae8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "FFTMAG",
        "func": "var npts = msg.payload.real.length\nvar npts2 = npts / 2;\nvar fftmag = [];\nfor (ii = 0; ii < npts2; ++ii)\n{\n    fftmag[ii] = 0.0;\n    fftmag[ii] = fftmag[ii] + msg.payload.real[npts2 - ii] * msg.payload.real[npts2 - ii];\n    fftmag[ii] = fftmag[ii] + msg.payload.imag[npts2 - ii] * msg.payload.imag[npts2 - ii];\n    fftmag[ii] = 1000.0 * Math.sqrt(fftmag[ii]);\n    fftmag[npts2 + ii] = 0.0;\n    fftmag[npts2 + ii] = fftmag[npts2 + ii] + msg.payload.real[ii] * msg.payload.real[ii];\n    fftmag[npts2 + ii] = fftmag[npts2 + ii] + msg.payload.imag[ii] * msg.payload.imag[ii];\n    fftmag[npts2 + ii] = 1000.0 * Math.sqrt(fftmag[npts2 + ii]);\n}\nreturn {'topic':'fftData','payload':{'modeM':fftmag}};",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "ebe54e71.d9f81"
            ]
        ]
    },
    {
        "id": "615467a4.754678",
        "type": "debug",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "c52ddcf3.2bc24",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Get DC Values",
        "func": "var npts = msg.payload.real.length;\nvar real = 0.0;\nvar imag = 0.0;\nfor (ii = 0; ii < npts; ++ii)\n{\n    real = real + msg.payload.real[ii];\n    imag = imag + msg.payload.imag[ii];\n}\nreal =  real / npts;\nimag =  imag / npts;\nreturn [{'topic':'real','payload':real},{'topic':'imag','payload':imag}];",
        "outputs": 2,
        "noerr": 0,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "b770bd4d.7f3c1"
            ],
            [
                "b770bd4d.7f3c1"
            ]
        ]
    },
    {
        "id": "b770bd4d.7f3c1",
        "type": "ui_chart",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "group": "bd134c3e.5c2e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 900,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "39db2d21.3c6d92",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "blank chart",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "b770bd4d.7f3c1"
            ]
        ]
    }
]